<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    <link href="~/Content/StyleDropDown.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top:-50px">
        <div class="navbar-header">
            <img src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/fextra-swords-white-42px.png" />
        </div>
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("HomePage", "HomePage")">Home Page</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipment
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">
                                    @Html.ActionLink("Weapon", "Index", "Equipment_Type", null, new { @class = "dropdown-item" })
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="#">1</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    @Html.ActionLink("Armor", "Index", "Armor_info", null, new { @class = "dropdown-item" })
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="#">Helm</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Chest</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Gauntlet</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Leg Armor</a>
                                    </li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Talisman", "Index", "Rings", null, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Character
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>@Html.ActionLink("Classes", "Index", "Classes", null, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Stats", "Index", "Stats", null, new { @class = "dropdown-item" })</li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Submenu &raquo;
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 1</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- <img class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" src="~/Images/backgroud_web.jpg" alt="" />-->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        @RenderBody()
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>

