@model projectE.Models.Armor_info

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Armor_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.A_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inmunity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inmunity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Robustness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Robustness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Focus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Focus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vitality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vitality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phy_guard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phy_guard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phy_slash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phy_slash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phy_strike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phy_strike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phy_thurst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phy_thurst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mag_guard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mag_guard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fie_guard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fie_guard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Light_guard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Light_guard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Holy_guard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Holy_guard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weigth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weigth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment_Type.Type_Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment_Type.Type_Names)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
